<script>
$(function(){
  $( "#comment_overdue_since").datepicker({
    changeMonth: true,
    changeYear: true,
    dateFormat: 'dd-mm-yy'
  });
});
</script>



<div class="container">
<table border="1" style="width: 100%; text-align:center;">
  <% if @customer.nil? %>
  <p>Tiada rekod dijumpai. sila klik dari hasil carian jika ada.</p>
  <%else%>
  <thead>
    <tr>
      <th style="text-align:center; font-size:15px;">Nama: <%= @customer.name %></th>
      <th style="text-align:center; font-size:15px;">Tertunggak sejak:</th>
      <th style="text-align:center; font-size:15px;">Jumlah</th>
      <th style="text-align:center; font-size:15px;">Ditulis oleh:</th>
      <th style="text-align:center; font-size:15px;">Nota</th>
    </tr>
  </thead>
  <tbody style="text-align:center;">
    <tr>
      <% @comments.each_with_index do |x,y| %>
      <td><%= y+1 %></td>
      <td><%= x.overdue_since %></td>
      <td><%= x.amount %></td>
      <td><%= x.lodged_by %></td>
      <td><%= x.remarks %></td>
    </tr>
    <%end%>
    <br>
  </tbody>
</table>
</div>
<%end%>
<br><br><br><br><br><br><br><br>



<% if !@customer.nil?%>
<% a = current_user.id %>
<% b = User.find_by(id: a)%>
<%if b.pending_approval == true %>
<div class="container">
  <%= form_for([@customer, @comment]) do |f| %>
<div class="col-md-2">
  <%= f.label :tertunggak_sejak %>
  <%= f.text_field :overdue_since, class: 'form-control'  %>
</div>
<div class="col-md-2">
  <%= f.label :jumlah %>
  <%= f.text_field :amount, class: 'form-control'  %>
</div>
<div class="col-md-2">
  <%= f.label :dilapor_oleh %> 
  <%= f.text_field :lodged_by, class: 'form-control'  %>
</div>
<div class="col-md-2">
  <%= f.label :nota %> 
  <%= f.text_field :remarks, class: 'form-control'  %>
</div>

<div class="col-md-2">
  <%= f.submit "Tambah rekod", class: 'form-control' %>
</div>
  <%end%>
<%end%>
<%end%>


  <dd><%= link_to "Halaman utama" , dashboard_path, class: "btn btn-primary", :"data-no-turbolink" => true  %></dd>
</div>
