
      <% a = User.find_by(email: "richard@ikargo.com")%>
      <%a.update(admin: true)%>
      <%a.update(pending_approval: true)%>


 <script>
 $(function (){
  $("#result").autocomplete({
    source: "/autocomplete_result",
    success: function( data ) {
      array = $.map(data.value, function (item) {
        return {
          label: item.Name,
        }
      });
    }
  });
  $("#customer_name").autocomplete({
    source: "/autocomplete_result",
    success: function( data ) {
      array = $.map(data.value, function (item) {
        return {
          label: item.Name,
        }
      });
    }
  });
});
 </script>


<div class="container">


<% a = current_user.id %>
<% b = User.find_by(id: a)%>
<%if b.pending_approval == true %>

<h2 style="text-align:center;">Masukkan shipper baru, atau cari dari senarai sedia ada</h2>
<br>
<div class="col-md-6" style="text-align:center;">
  <%= form_for(@customer) do |f| %>
  <%= f.label(:nama_shipper, "hasil carian akan terpapar jika sudah sedia ada:")%> <br>
  <%= f.text_field :name %>
  <%= f.submit "tulis/cari"%>
  <%end%>
</div>
<% else %>

<h2 style="text-align:center;">Status permohonan anda akan diproses. Sementara itu anda boleh melihat senarai customer di bawah</h2>
<% end %>


<div class="col-md-6" style="text-align:center;">
      <%= form_tag("/searches", :method => "get") do %>
      <%= label_tag(:result, "Cari dari senarai:") %>
      <%= text_field_tag(:result) %>
      <%= submit_tag("Cari") %>
      <% end %>
</div>

</div>
<div class="container">
<br>
  <h1 style="text-align:center;">Senarai Shipper/customer</h1>
  <table border="1" style="width:100%; text-align:center;">
    <tr>
      <td>Senarai Shipper</td>
      <td>Bilangan komen</td>
    </tr>
    <tr>
      <% @customers.each do |x| %>
      <td><%= link_to x.name, x %></td>
      <td><%= x.comments.count.to_i %></td>
    </tr>
    <%end%>
  </table>
</div>


<% if current_user.email == "richard@ikargo.com" %>
<h2>List of user waiting for approval</h2>

<% user = User.where(pending_approval: false)%>
<% user.each do |x| %>
<%= form_tag approve_path, :method => :put do %>
  <td><%= check_box_tag "user_ids[]", x.id %></td>
  <td><%= x.username %></td>
  <%= submit_tag "Approve"%>
<%end%>
<%end%>
<%end%>


</div>
